Package                        Version
------------------------------ ------------
tensorflow-estimator           2.4.0
absl-py                        0.10.0
adal                           1.2.6
aiohttp                        3.7.4
ansiwrap                       0.8.4
apache-beam                    2.28.0
appdirs                        1.4.4
argon2-cffi                    20.1.0
arrow                          1.0.2
asn1crypto                     1.4.0
astunparse                     1.6.3
async-generator                1.10
async-timeout                  3.0.1
attrs                          20.3.0
audioread                      2.1.9
autopep8                       1.5.6
avro-python3                   1.9.2.1
backcall                       0.2.0
backports.functools-lru-cache  1.6.1
binaryornot                    0.4.4
black                          20.8b1
bleach                         3.3.0
blinker                        1.4
brotlipy                       0.7.0
cachetools                     4.2.1
caip-notebooks-serverextension 1.0.0
certifi                        2020.12.5
cffi                           1.14.5
chardet                        4.0.0
click                          7.1.2
cloudpickle                    1.6.0
colorama                       0.4.4
conda                          4.9.2
conda-package-handling         1.7.2
confuse                        1.4.0
cookiecutter                   1.7.2
crcmod                         1.7
cryptography                   3.4.4
cycler                         0.10.0
decorator                      4.4.2
defusedxml                     0.6.0
dill                           0.3.1.1
dm-tree                        0.1.5
docker                         4.4.4
docker-pycreds                 0.4.0
docopt                         0.6.2
entrypoints                    0.3
explainable-ai-sdk             1.2.0
explainers                     0.1
fairness-indicators            0.27.0
fastavro                       1.3.2
fasteners                      0.16
flatbuffers                    1.12
fsspec                         0.8.7
future                         0.18.2
gast                           0.3.3
gcsfs                          0.7.2
gitdb                          4.0.5
GitPython                      3.1.14
google-api-core                1.22.4
google-api-python-client       1.12.8
google-apitools                0.5.31
google-auth                    1.27.0
google-auth-httplib2           0.0.4
google-auth-oauthlib           0.4.2
google-cloud-bigquery          1.26.1
google-cloud-bigquery-storage  1.0.0
google-cloud-bigtable          1.4.0
google-cloud-build             2.0.0
google-cloud-core              1.3.0
google-cloud-dataproc          1.1.1
google-cloud-datastore         1.12.0
google-cloud-dlp               1.0.0
google-cloud-firestore         1.8.1
google-cloud-kms               1.4.0
google-cloud-language          1.3.0
google-cloud-logging           1.15.1
google-cloud-monitoring        1.1.0
google-cloud-pubsub            1.7.0
google-cloud-scheduler         1.3.0
google-cloud-spanner           1.17.1
google-cloud-speech            1.3.2
google-cloud-storage           1.30.0
google-cloud-tasks             1.5.0
google-cloud-translate         2.0.2
google-cloud-videointelligence 1.15.0
google-cloud-vision            1.0.0
google-crc32c                  1.1.2
google-pasta                   0.2.0
google-resumable-media         1.2.0
googleapis-common-protos       1.52.0
grpc-google-iam-v1             0.12.3
grpcio                         1.36.0
grpcio-gcp                     0.2.2
h5py                           2.10.0
hdfs                           2.6.0
htmlmin                        0.1.12
httplib2                       0.19.0
idna                           2.10
ImageHash                      4.2.0
imageio                        2.9.0
importlib-metadata             3.7.0
ipykernel                      5.5.0
ipython                        7.21.0
ipython-genutils               0.2.0
ipython-sql                    0.3.9
ipywidgets                     7.6.3
jedi                           0.18.0
Jinja2                         2.11.3
jinja2-time                    0.2.0
joblib                         1.0.1
json5                          0.9.5
jsonschema                     3.2.0
jupyter                        1.0.0
jupyter-client                 6.1.11
jupyter-console                6.2.0
jupyter-core                   4.7.1
jupyter-http-over-ws           0.0.8
jupyterlab                     1.2.16
jupyterlab-git                 0.11.0
jupyterlab-pygments            0.1.2
jupyterlab-server              1.2.0
jupyterlab-widgets             1.0.0
Keras                          2.4.0
Keras-Preprocessing            1.1.2
keras-tuner                    1.0.1
kiwisolver                     1.3.1
kubernetes                     12.0.1
libcst                         0.3.17
librosa                        0.8.0
llvmlite                       0.35.0
Markdown                       3.3.4
MarkupSafe                     1.1.1
matplotlib                     3.3.4
missingno                      0.4.2
mistune                        0.8.4
ml-metadata                    0.27.0
ml-pipelines-sdk               0.27.0
mock                           2.0.0
multidict                      5.1.0
mypy-extensions                0.4.3
nb-conda                       2.2.1
nb-conda-kernels               2.3.1
nbclient                       0.5.3
nbconvert                      6.0.7
nbdime                         2.1.0
nbformat                       5.1.2
nest-asyncio                   1.4.3
networkx                       2.5
notebook                       6.2.0
notebook-executor              0.2
numba                          0.52.0
numpy                          1.19.5
oauth2client                   4.1.3
oauthlib                       3.1.0
olefile                        0.46
opt-einsum                     3.3.0
packaging                      20.9
pandas                         1.2.2
pandas-profiling               2.11.0
pandocfilters                  1.4.2
papermill                      2.3.2
parso                          0.8.1
pathspec                       0.8.1
patsy                          0.5.1
pbr                            5.5.1
pexpect                        4.8.0
phik                           0.10.0
pickleshare                    0.7.5
Pillow                         8.1.0
pip                            21.0.1
pooch                          1.3.0
poyo                           0.5.0
prettytable                    2.0.0
prometheus-client              0.9.0
promise                        2.3
prompt-toolkit                 3.0.16
proto-plus                     1.14.2
protobuf                       3.15.3
psutil                         5.8.0
ptyprocess                     0.7.0
pyarrow                        3.0.0
pyasn1                         0.4.8
pyasn1-modules                 0.2.8
pycodestyle                    2.7.0
pycosat                        0.6.3
pycparser                      2.20
pydot                          1.4.2
Pygments                       2.8.0
PyJWT                          2.0.1
pymongo                        3.11.3
pyOpenSSL                      20.0.1
pyparsing                      2.4.7
pyrsistent                     0.17.3
PySocks                        1.7.1
python-dateutil                2.8.1
python-slugify                 4.0.1
pytz                           2021.1
PyWavelets                     1.1.1
PyYAML                         5.4.1
pyzmq                          22.0.3
qtconsole                      5.0.2
QtPy                           1.9.0
regex                          2020.11.13
requests                       2.25.1
requests-oauthlib              1.3.0
resampy                        0.2.2
retrying                       1.3.3
rsa                            4.7.2
ruamel-yaml-conda              0.15.80
scikit-image                   0.18.1
scikit-learn                   0.24.1
scipy                          1.6.0
seaborn                        0.11.1
Send2Trash                     1.5.0
setuptools                     54.0.0
simplejson                     3.17.2
six                            1.15.0
smmap                          3.0.5
SoundFile                      0.10.3.post1
SQLAlchemy                     1.3.23
sqlparse                       0.4.1
statsmodels                    0.12.2
tabulate                       0.8.9
tangled-up-in-unicode          0.0.6
tenacity                       6.3.1
tensorboard                    2.4.1
tensorboard-plugin-wit         1.8.0
tensorflow                     2.4.1
tensorflow-cloud               0.1.13
tensorflow-data-validation     0.27.0
tensorflow-datasets            3.0.0
tensorflow-estimator           2.2.0
tensorflow-hub                 0.9.0
tensorflow-io                  0.17.0
tensorflow-metadata            0.27.0
tensorflow-model-analysis      0.27.0
tensorflow-probability         0.11.0
tensorflow-serving-api         2.4.0
tensorflow-transform           0.27.0
termcolor                      1.1.0
terminado                      0.9.2
terminaltables                 3.1.0
testpath                       0.4.4
text-unidecode                 1.3
textwrap3                      0.9.2
tfx                            0.27.0
tfx-bsl                        0.27.1
threadpoolctl                  2.1.0
tifffile                       2021.2.26
toml                           0.10.2
tornado                        6.1
tqdm                           4.58.0
traitlets                      5.0.5
typed-ast                      1.4.2
typing-extensions              3.7.4.3
typing-inspect                 0.6.0
Unidecode                      1.2.0
uritemplate                    3.0.1
urllib3                        1.26.3
visions                        0.6.0
wcwidth                        0.2.5
webencodings                   0.5.1
websocket-client               0.57.0
Werkzeug                       1.0.1
wheel                          0.36.2
whichcraft                     0.6.1
widgetsnbextension             3.5.1
witwidget                      1.7.0
wrapt                          1.12.1
yarl                           1.6.3
zipp                           3.4.0
