/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden;  /*Prevent scroll on narrow devices */
  padding-top: 30px;
}
footer {
  padding: 10px 0;
}
.container {
  max-width: 768px;
}

p {
  font-size: 18px;
  /*padding-bottom: 20px;*/
}

li {
  font-size: 16px;
}

.jumbotron h2 {
  font-size: 48px;
}

.section { 
  padding-top: 10px
}

.caption {
  width:75%; 
  font-size:14px
}

audio {
  width: 160px;
}
.audio {
  width: 160px;
  float: left;
  margin-right: 5px;
}